/* Base styles and variables */
body {
    font-family: "GDS Transport", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.home-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.home-button:hover {
    background-color: var(--button-hover-bg-color);
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    overflow: hidden;
}


.main-content h1 {
    margin-top: 0;
    font-size: 24px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
}

.home-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.error-message {
    background-color: #d9534f;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    animation: fadeout 2s forwards;
}

.theme-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.theme-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.theme-button:hover {
    background-color: var(--button-hover-bg-color);
}


@keyframes fadeout {
    0% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

/* Login page styles */
.login-container {
    background-color: var(--message-bg-color);
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    margin: auto;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
}
